# 环境变量
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
log/
logs/
venv/
env/
.env/
.venv/
ENV/
node_modules/
*.egg-info/
.installed.cfg
*.egg

# 输出文件
output/
upload/
export/

# IDE
.idea/
.vscode/
*.swp
*.swo 